{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block urLogo %}
    {% if(gitType == "gitlab") %}
        <img src="https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png" width="25" height="25"/>
    {% elseif(gitType == "github") %}
        <img src="https://www.macupdate.com/images/icons256/39062.png" width="25" height="25"/>
    {% elseif(gitType == "bitbucket") %}
        <img src="https://technologyconversations.files.wordpress.com/2015/10/download.png" width="25" height="25"/>
    {% else %}
        <img src="https://git-for-windows.github.io/img/git_logo.png" width="25" height="25"/>
    {% endif %}
{% endblock %}

{% block infoSelected %}<span class="sub_icon glyphicon glyphicon-info-sign" style="color:white;"></span>{% endblock %}
{% block urlSelected %}<span class="sub_icon glyphicon glyphicon-plus-sign"></span>{% endblock %}

{% block body %}

    <script type="text/javascript">
    var nbCommits=0;
    var nbBranches=0;
    var nbContributeur=0;
    {% if infoGeneral.getNbBranches() %}
        nbBranches= {{infoGeneral.getNbBranches()}};
    {% endif %}
    {% if infoGeneral.getNbUsers() %}
        nbContributeur= {{infoGeneral.getNbUsers()}};
    {% endif %}
    {% if infoGeneral.getNbCommits() %}
        nbCommits= {{infoGeneral.getNbCommits()}};
    {% endif %}

    </script>

    <h2 class="gros-titre">Informations générales</h2>
    <br />
    <ul class="bigfont centerblock">
        <li class="">Nom du projet: <u><b>{{ infoGeneral.getGitName }}</b></u></li>
        <li class="">Url : <a href="{{ infoGeneral.getUrl() }}">{{ infoGeneral.getUrl }}</a></li>
        <li class=""><span id="resultNbBranches"></span> branches</li>
        <li class=""><span id="resultNbContributeur"></span> contributeurs</li>
        <li class=""><span id="resultNbCommits"></span> commits</li>
        <li class="">Les contributeurs les plus actifs
            <ul>
                {% for key, user in infoGeneral.mostActif() %}
                    <li>{{ key }}: {{ infoGeneral.getMailsByContributor(key)[0] }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <br />
    <article class="article-base">
        <h3 class="petit-titre "><span class="glyphicon glyphicon-info-sign"></span> Info</h3>
        <hr />
        <p class="p-white-color">Ce site va vous permettre de visualiser les informations d'un projet subversionné par git.</p>
        <p class="p-white-color">Vous pourrez voir et comparer les branches, les contributeurs et les commits qui ont été faits.</p>
        <p class="p-white-color">Vous pourrez aussi comparer les commits de plusieurs contributeurs.</p>
    </article>
    <br />



    {#{ parent() }#}
{% endblock %}
