{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block body %}
    <script type="text/javascript">
    var nbCommits=0;
    var nbBranches=0;
    var nbContributeur=0;
    {% if infoGeneral.getNbBranches() %}
        nbBranches= {{infoGeneral.getNbBranches()}};
    {% endif %}
    {% if infoGeneral.getNbUsers() %}
        nbContributeur= {{infoGeneral.getNbUsers()}};
    {% endif %}
    {% if infoGeneral.getNbCommits() %}
        nbCommits= {{infoGeneral.getNbCommits()}};
    {% endif %}
    //var nbContributeur = {{ infoGeneral.getNbBranches() | raw }};
    //$nbContributeur = 4;
    </script>

    <h2 class="gros-titre">Informations générales</h2>
    <br />
    <ul class="bigfont centerblock">
        <li class="">Nom du projet: <u>[nomDuProjet]</u></li>
        <li class="">Url : <a href="{{ infoGeneral.getUrl() }}">{{ infoGeneral.getUrl }}</a></li>
        <li class=""><span id="resultNbBranches"></span> branches</li>
        <li class=""><span id="resultNbContributeur"></span> contributeurs</li>
        <li class=""><span id="resultNbCommits"></span> commits</li>
        <li class="">Les contributeurs les plus actifs
            <ul>
                <li class="">personne1 - adresse1</li>
                <li class="">personne2 - adresse1</li>
            </ul>
        </li>
    </ul>

    <br />
    <article class="article-base">
        <h3 class="petit-titre "><span class="glyphicon glyphicon-info-sign"></span> Info</h3>
        <hr />
        <p class="p-white-color">Ce site va vous permettre de visualiser les informations d'un projet subversionné par git.</p>
        <p class="p-white-color">Vous pourrez voir et comparer les branches, les contributeurs et les commits qui ont été faits.</p>
        <p class="p-white-color">Vous pourrez aussi comparer les commits de plusieurs contributeurs.</p>
    </article>
    <br />



    {#{ parent() }#}
{% endblock %}
