{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block urLogo %}
    {% if(gitType == "gitlab") %}
        <img src="https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png" width="25" height="25"/>
    {% elseif(gitType == "github") %}
        <img src="https://www.macupdate.com/images/icons256/39062.png" width="25" height="25"/>
    {% elseif(gitType == "bitbucket") %}
        <img src="https://technologyconversations.files.wordpress.com/2015/10/download.png" width="25" height="25"/>
    {% else %}
        <img src="https://git-for-windows.github.io/img/git_logo.png" width="25" height="25"/>
    {% endif %}
{% endblock %}

{% block body %}
    <h2 class="gros-titre">Tous les contributeurs</h2>
    <article class="article-padding bigfont">
        <h3 class="petit-titre"><u>Table des contributeurs</u></h3>
        <p class=" tabulation">{{infoContributor.getNbUsers()}} contributeurs</p>
        <br />
        <div class="col-lg-12 article-base-sans-padding">
            <div class="row">
                <h4 class="col-lg-6 col-md-6 col-sm-6 col-xs-6 centerblock">Nom ou pseudo</h4>
                <h4 class="col-lg-6 col-md-6 col-sm-6 col-xs-6 centerblock">Email</h4>
            </div>
            <hr />
            <div class=" col-lg-12  h-scroll">
                {% for key, user in infoContributor.getCommitsByAllContributor() %}
                    {#<li>{{ key }}: {{ infoContributor.getMailsByContributor(key)[0] }}</li>#}
                    <div class="col-lg-12">
                        <p  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ path('ign_info_git_a_contributor', {'name': key }) }}">{{ key }}</a>
                        </p>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {% for mail in infoContributor.getMailsByContributor(key) %}
                                <p>{{mail}}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
    <br />


    <div class="row">
        <div class="col-lg-12">
            {% if (infoContributor.getNbUsers() < 10) %}
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {% else %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% endif %}
                <article class='with-3d-shadow'>
                    <h3 class="petit-titre centerblock"><u>Visualisation des commits</u></h3>
                    <br />
                    <canvas class='article-bar-chart' id="commitBarChart" ></canvas>
                </article>
            </div>
            {% if (infoContributor.getNbUsers() < 10) %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            {% else %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% endif %}
                <article class='with-3d-shadow '>
                    <h3 class="petit-titre centerblock"><u>Nombre de commits par contributeur</u></h3>
                    <br />
                    <canvas class='article-bar-chart' id="branchesChart" ></canvas>
                </article>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="/assets/vendor/node_modules/chart.js/dist/Chart.js"></script>
    <script src="/res/javascript_randomColor.js"></script>
    {#<script src="/res/novus-nvd3/build/nv.d3.js"></script>#}
    <script>
        var color_commit="rgba(255, 99, 132, 0.2)";
        var color_ajout="rgba(54, 162, 235, 0.2)";
        var color_suppression="rgba(255, 206, 86, 0.2)";
        var color_renomage="rgba(75, 192, 192, 0.2)";
        var color_modification="rgba(153, 102, 255, 0.2)";

        var border_color_commit       = 'rgba(255,99,132,1)';
        var border_color_ajout        = 'rgba(54, 162, 235, 1)';
        var border_color_suppression  = 'rgba(255, 159, 64, 1)';
        var border_color_renomage     = 'rgba(75, 192, 192, 1)';
        var border_color_modification = 'rgba(153, 102, 255, 1)';
/* ----------------------------------------- */










        var nb_users          = [];
        var users             = [];

        var b_val_commit      = [];
        var b_val_ajout       = [];
        var b_val_renomage    = [];
        var b_val_suppression = [];
        var b_val_modification= [];

        var b_color_commit      = [];
        var b_color_ajout       = [];
        var b_color_renomage    = [];
        var b_color_suppression = [];
        var b_color_modification= [];

        var b_border_color_commit      = [];
        var b_border_color_ajout       = [];
        var b_border_color_renomage    = [];
        var b_border_color_suppression = [];
        var b_border_color_modification= [];

        var b_color_commits= [];
        var b_border_color_commits= [];

        {% for person in infoContributor.getAllPerson() %}
            users.push('{{person}}');
            var c = randomColor(1);
            b_color_commits.push(getRealColor(c, 1));
            b_border_color_commits.push(getRealColor(c, 0.2));
            {# nb_users.push({{branche.getNbUsers()}});#}
        {% endfor %}

        {% for person in infoContributor.getAllPerson() %}
            b_val_commit.push('{{infoContributor.getNbCommitsByContributor(person)}}');
            b_color_commit.push(color_commit);
            b_border_color_commit.push(border_color_commit);
        {% endfor %}

        {% for person in infoContributor.getAllPerson() %}
            b_val_ajout.push('{{infoContributor.getNbAddByContributor(person)}}');
            b_color_ajout.push(color_ajout);
            b_border_color_ajout.push(border_color_ajout);
        {% endfor %}

        {% for person in infoContributor.getAllPerson() %}
            b_val_renomage.push('{{infoContributor.getNbRenameByContributor(person)}}');
            b_color_renomage.push(color_renomage);
            b_border_color_renomage.push(border_color_renomage);
        {% endfor %}

        {% for person in infoContributor.getAllPerson() %}
            b_val_suppression.push('{{infoContributor.getNbRemoveByContributor(person)}}');
            b_color_suppression.push(color_suppression);
            b_border_color_suppression.push(border_color_suppression);
        {% endfor %}

        {% for person in infoContributor.getAllPerson() %}
            b_val_modification.push('{{infoContributor.getNbModifyByContributor(person)}}');
            b_color_modification.push(color_modification);
            b_border_color_modification.push(border_color_modification);
        {% endfor %}











/* ----------------------------------------- */

            var data = {
                labels: users,
                datasets: [
                    {
                        label: "Commit",
                        backgroundColor: b_color_commit,
                        borderColor: b_border_color_commit,
                        borderWidth: 1,
                        data: b_val_commit,
                    },
                    {
                        label: "Ajout",
                        backgroundColor: b_color_ajout,
                        borderColor: b_border_color_ajout,
                        borderWidth: 1,
                        data: b_val_ajout,
                    },
                    {
                        label: "Suppression",
                        backgroundColor: b_color_suppression,
                        borderColor: b_border_color_suppression,
                        borderWidth: 1,
                        data: b_val_suppression,
                    },
                    {
                        label: "Renomage",
                        backgroundColor: b_color_renomage,
                        borderColor: b_border_color_renomage,
                        borderWidth: 1,
                        data:b_val_renomage,
                    },
                    {
                        label: "Modification",
                        backgroundColor: b_color_modification,
                        borderColor: b_border_color_modification,
                        borderWidth: 1,
                        data: b_val_modification,
                    },

                ]
            };


        var ctx = document.getElementById("commitBarChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Les commits'
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Les personnes'
                        }
                    }]
                }
            }
        });
    </script>

    <script>

    var data = {
        labels: users,
        datasets: [
            {
                data: b_val_commit,
                backgroundColor: b_border_color_commits,
                hoverBackgroundColor: b_color_commits
            }]
    };
        var brancheCtx = document.getElementById("branchesChart");
        var myDoughnutChart = new Chart(brancheCtx, {
            type: 'doughnut',
            animation:{
                animateScale:true
            },
            data: data//,
            //options: options
        });
    </script>

    <br />
   {#{ parent() }#}
{% endblock %}
