<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}InfoGit{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('res/style.css') }}" rel="stylesheet" media="all" type="text/css">
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/vendor/css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="wrapper" class="bodystyle">
        <header >{# wrapper va nous servir a avoir le menu coulissant #}
            {% block header %}{% endblock %}
        </header>

        <section class="sectionstyle" id="">
            {% block body %}{% endblock %}
        </section>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}" ></script>

            <script src="http://d3js.org/d3.v3.min.js"></script>

            <script type="text/javascript" src="{{ asset('res/javascript.js.twig') }}" ></script>

            <script>
            </script>
        {% endblock %}
        <footer class="footstyle">
            <hr />
            {% block footer %}Copyright - InfoGitNES 2016{% endblock %}
        </footer>
    </body>
</html>
