{% extends "IGNInfoGitBundle::index.html.twig" %}

{% block urLogo %}
    {% if(gitType == "gitlab") %}
        <img src="https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png" width="25" height="25"/>
    {% elseif(gitType == "github") %}
        <img src="https://www.macupdate.com/images/icons256/39062.png" width="25" height="25"/>
    {% elseif(gitType == "bitbucket") %}
        <img src="https://technologyconversations.files.wordpress.com/2015/10/download.png" width="25" height="25"/>
    {% else %}
        <img src="https://git-for-windows.github.io/img/git_logo.png" width="25" height="25"/>
    {% endif %}
{% endblock %}

{% block body %}
        <h2 class="gros-titre">Branche : [nomDeLaBranche]</h2>

        <ul>
            <li>Nom du contributeur : [nomContributeur]</li>
            <li>Contributeurs:
                <ul>
                    <li>[nomContributeur1]</li>
                    <li>[nomContributeur2]</li>
                    <li>[nomContributeur3]</li>
                    <li>[nomContributeur4]</li>
                </ul>
            </li>
            <li>[nbCommits] commits</li>
            <li>[nbAdd] ajout</li>
            <li>[nbDelete] suppression</li>
            <li>[nbRename] renommage</li>
            <li>[nbModification] modification</li>
        </ul>

        <p>Informations complémentaires</p>
        <ul>
            <li><a href="{{ path('ign_info_git_a_contributor', {'name':  'nom2'}) }}">[nomContributeur]</a> a le plus contribué dans cette branche</li>
            <li><a href="{{ path('ign_info_git_a_contributor', {'name':  'nom2'}) }}">[nomContributeur]</a> a fait le plus d'ajout</li>
            <li><a href="{{ path('ign_info_git_a_contributor', {'name':  'nom2'}) }}">[nomContributeur]</a> a fait le plus de suppression</li>
            <li><a href="{{ path('ign_info_git_a_contributor', {'name':  'nom2'}) }}">[nomContributeur]</a> a fait le plus de renommage</li>
            <li><a href="{{ path('ign_info_git_a_contributor', {'name':  'nom2'}) }}">[nomContributeur]</a> a fait le plus de modification</li>
        </ul>


        <p>Choisissez une branche et autant de contributeurs que vous le désirez</p>
        <form>
            <SELECT NAME="bev">
                <OPTION VALUE="NoBranche" SELECTED>No branch
                <OPTION VALUE="Branche1">Branche1
                <OPTION VALUE="Branche2">Branche2
                <OPTION VALUE="Branche3">Branche3
            </SELECT>

            <br />

            <INPUT TYPE="checkbox" NAME="sal" VALUE="nomContributeur1">nomContributeur1<BR>
            <INPUT TYPE="checkbox" NAME="sal" VALUE="nomContributeur2">nomContributeur2<BR>
            <INPUT TYPE="checkbox" NAME="sal" VALUE="nomContributeur3">nomContributeur3<BR>
            <INPUT TYPE="checkbox" NAME="sal" VALUE="nomContributeur4">nomContributeur4<BR>
            <INPUT TYPE="checkbox" NAME="sal" VALUE="nomContributeur5">nomContributeur5<BR>
        </form>



        <p>ICI notre diagramme Cammembert et Courbe pour cette branche</p>
    <br />
    {#{ parent() }#}
{% endblock %}
