{% extends "::base.html.twig" %}

{% block header %}
    <!-- Sidebar -->
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a href="{{ path('ign_info_git_homepage') }}">          InfoGit         {% block infoSelected %}<span class="sub_icon glyphicon glyphicon-info-sign"></span>{% endblock %}</a></li>
            <li><a href="{{ path('ign_info_git_tree') }}">              Arbre           {% block arbreSelected %}<span class="sub_icon glyphicon glyphicon-tree-deciduous"></span>{% endblock %}</a></li>
            <li><a href="{{ path('ign_info_git_all_branches') }}">      Branches        {% block branchesSelected %}<span class="sub_icon glyphicon glyphicon-link"></span>{% endblock %}</a></li>
            <li><a href="{{ path('ign_info_git_all_contributors') }}">  Contributeurs   {% block contributorSelected %}<span class="sub_icon glyphicon glyphicon-user"></span>{% endblock %}</a></li>
			<li><a href="{{ path('ign_info_git_files_tree') }}">             Fichiers  {% block filesTree %}<span class="sub_icon glyphicon glyphicon-file" style="color:white;"></span>{% endblock %}</a></li>
            <li><a href="{{ path('ign_info_git_index') }}">             Nouvel url git  {% block urlSelected %}<span class="sub_icon glyphicon glyphicon-plus-sign" style="color:white;"></span>{% endblock %}</a></li>
        </ul>
    </nav>
    <h1 class="main-title"><a href="{{ path('ign_info_git_homepage') }}">InfoGit</a>
        <span  class="centerblock" style="text-align:center; margin-left:40%;">
            {% block urLogo %}
                <img src="https://git-for-windows.github.io/img/git_logo.png" width="25" height="25"/>
            {% endblock %}
        </span>
    </h1>
{% endblock %}


{% block body %}
    <article class="article-base centerblock-top-bottom">
        <h2 class="gros-titre">Ajouter un projet git</h2>
        <hr />
        <div id="zone_recherche" class="centerblock">
            {{ form_start(form) }}
                <span class="form-color">{{ form_widget(form) }}</span>
            {{ form_end(form) }}
        </div>
        <br />
</article>

{# % if isloadurl % #}
<div id="load" class="loading-git-clone">
    <br />
<?xml version="1.0" encoding="utf-8"?>
    <svg width='198px' height='198px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt">
        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
        <circle cx="50" cy="50" r="40" stroke="#afafb7" fill="none" stroke-width="10" stroke-linecap="round"></circle>
        <circle cx="50" cy="50" r="40" stroke="#5cffd6" fill="none" stroke-width="6" stroke-linecap="round">
            <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate>
            <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate>
        </circle>
    </svg>
</div>
{# % endif % #}



{# Pour cachez le bloc div contenant le chargement. et l'afficher des le submit #}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" /></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#load').hide();

    $('#formurl').submit(function() {
        $('#load').show();
    return false;
    });
});
</script>{##}
















{% endblock %}
